<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wuminghui.gmall.manage.mapper.PmsSkuInfoMapper">
    <select id="selectSkuSaleAttrValueListBySpu" resultMap="selectSkuSaleAttrValueListBySpuMap">
         select si.*,ssav.*,si.id as si_id,ssav.id as ssav_id
         from
              pms_sku_info si, pms_sku_sale_attr_value ssav
         where si.product_id = #{productId}
         and si.id = ssav.sku_id
    </select>

    <resultMap id="selectSkuSaleAttrValueListBySpuMap" type="com.wuminghui.gmall.bean.PmsSkuInfo" autoMapping="true">
        <result column="si_id" property="id"></result>
        <collection property="skuSaleAttrValueList" ofType="com.wuminghui.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">
            <result column="ssav_id" property="id"></result>

        </collection>

    </resultMap>
</mapper>